timeline.enabled   = true
timeline.overwrite = true
trace.enabled      = true
trace.overwrite    = true
dag.enabled        = true
dag.overwrite      = true

params {
    datasets_csv = null
    organ        = null
    results_dir  = null
    outdir       = 'results'
    publish_mode = 'copy'
}

docker {
    enabled    = true
    runOptions = '--platform linux/amd64'
}

process {
    withName: 'regenerate_summary_process' {
        container        = 'ghcr.io/nih-nlm/scsilhouette:1.0'
        containerOptions = '--entrypoint ""'
        cpus             = 2
        memory           = '8 GB'
        maxForks         = 8
        errorStrategy    = 'ignore'
    }
}
