
params.datasets_csv         = "datasets.csv"
params.outdir               = "results"
params.metric               = "euclidean"
params.save_scores          = true
params.save_cluster_summary = true
params.save_annotation      = true

// Enable monitoring and logging
timeline.enabled            = true
trace.enabled               = true
dag.enabled                 = true

params.outdir = 'results'

profiles {
  nfcopilot {
    publishDir = params.outdir, mode: 'copy', overwrite: false
    process.container = 'ghcr.io/nih-nlm/scsilhouette:latest'
    docker.enabled = true
  }
}
