
params.datasets_csv         = "datasets.csv"
params.outdir               = "results"
params.metric               = "euclidean"
params.save_scores          = true
params.save_cluster_summary = true
params.save_annotation      = true

// Enable monitoring and logging
timeline.enabled            = true
trace.enabled               = true
dag.enabled                 = true

params.outdir = 'results'

process {
  publishDir = "${params.outdir}"; mode: 'copy'

  withName: COMPUTE_SILHOUETTE_PROCESS {
    container = 'ghcr.io/nih-nlm/scsilhouette:latest'
  }

  withName: VIZ_SUMMARY_PROCESS {
    container = 'ghcr.io/nih-nlm/scsilhouette:latest'
  }

  withName: VIZ_DOTPLOT_PROCESS {
    container = 'ghcr.io/nih-nlm/scsilhouette:latest'
  }

  withName: VIZ_HEATMAP_PROCESS {
    container = 'ghcr.io/nih-nlm/scsilhouette:latest'
  }

  withName: VIZ_DISTRIBUTION_PROCESS {
    container = 'ghcr.io/nih-nlm/scsilhouette:latest'
  }

  withName: VIZ_DATASET_SUMMARY_PROCESS {
    container = 'ghcr.io/nih-nlm/scsilhouette:latest'
  }

  withName: MERGE_REPORT_PROCESS {
    container = 'ghcr.io/nih-nlm/scsilhouette:latest'
  }
}


profiles {
  nfcopilot {
    process.container = 'ghcr.io/nih-nlm/scsilhouette:latest'
    docker.enabled = true
    publishDir = "${params.outdir}", mode: 'copy'
  }
}
