name: docs

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-docs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Conda
        uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          environment-file: environment.yml
          activate-environment: scsilhouette
          python-version: "3.9"

      - name: Confirm Python/Conda environment
        run: |
          which python
          conda info
          conda list

      - name: Install Sphinx extras
        run: |
          conda activate scsilhouette
          pip install sphinx_rtd_theme myst-parser

      - name: Regenerate Sphinx API docs
        run: |
          sphinx-apidoc -f -o docs/source/ src/scsilhouette

      - name: Build Sphinx HTML
        run: |
          cd docs
          make html

      - name: Upload built documentation
        uses: actions/upload-pages-artifact@v2
        with:
          path: docs/build/html

  deploy:
    needs: build-docs
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write

    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v1

